@import "fonts.css";

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	background-image: radial-gradient(
		circle at top,
		rgba(0, 0, 0, 1),
		rgba(50, 50, 50, 1)
	);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form-item {
	margin-bottom: 20px;
}

.code {
	text-transform: uppercase;
	font: normal normal normal 70pt/70pt "Besley Black";
	text-align: center;
	letter-spacing: 30px;
	cursor: text;
	max-width: 100%;
}

.button {
	padding: 20px;
	cursor: pointer;
	font: normal normal normal 20pt/20pt "Besley Black";
}